

$primary-yellow: #ffda09;

$main-font: "sans-serif";
$font-size: 16px;
$main-color: #f7df1e;
$second-color: #222;
$main-modal-color: rgb(247, 223, 30, 0.85);
$second-modal-color: rgb(34, 34, 34, 0.85);
$container-width: 1200px;
$form-ok-color: #4caf50;
$form-error-color: #f44336;

