@use "../utilities/variables";

$primary-yellow : variables.$primary-yellow;

.content {
  height: 1000px;
}


.header {
  background-color: $primary-yellow;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}

.header__head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header__head__title {
  display: flex;
  width: 400px;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #000;
  text-align: center;
}

.header__head__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

/* .header__head__menu__btn {
  border: 0px;
  background-color: #ffda09;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;


  .ti-menu-2 {
    display: flex;
    color: #000;
    transform: scale(2);
    //font-size: 30px;
  }
}
 */

.header__nav {
  background-color: #fff;
  border: 1px solid #bbb;
}

.header__nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;


}

.header__nav__list__li {
  font-size: 20px;
  color: #ddd;
}


.header__nav__list__li__link {
  text-decoration: none;
  
  
  
}

