@use "../utilities/variables";

$font-size: variables.$font-size;
$main-font: variables.$main-font;

html {
  box-sizing: border-box;
  font-size: $font-size;
  font-family: $main-font;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}


a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #000;
}

