@use "../utililies/variables";
$main-color: variables.$main-color;
$second-color: variables.$second-color;

.content__main__section__stage {
  display: flex;
  min-height: 50vh;
  background-color: $second-color;
  
}

.content__main__section__stage__ball {
  margin: auto;
  width: 4rem;
  height: 4rem;
  background-color: $main-color;
  border-radius: 50%;
}