@use "../utilities/variables" as *;



.scroll-btn {
  width: 80px;
  height: 80px;
  background-color: $main-color;
  color: $second-color;
  border: none;
  border-radius: 50%;
  position: fixed;
  bottom: 1vh;
  right: 8vw;
  z-index: 9000;
  justify-content: center;
  align-items: center;

  .ti {
    transform: scale(2.6);
  }

  &:hover {
    background-color: $second-color;
    color: $main-color;
    cursor:pointer;
  }
}