<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Hamburger CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.css" integrity="sha512-W4KOSUNkQhX7JkalSiTkwAIoqsAvxDdgRc/WAa5U0R2TKTpHnNZuf9AiBk8InN4GCAMwer+O9fe4ThxIQFkOGQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
    />
    <link rel="stylesheet" href="scss/style.css" />
  </head>

  <body>

    <template class="content__main__section__gallery__content__card-template">
      <div class="content__main__section__gallery__content__card">
        <img src="" alt="" class="content__main__section__gallery__content__card__img">
        <div class="content__main__section__gallery__content__card__text">
          <p class="content__main__section__gallery__content__card__text__p"></p>
        </div>
      </div>
    </template>



    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__list__li">
          <a href="#section-1" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Reloj Digital y Alarma Sonora</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-2" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Atajos de Teclado</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-3" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Countdown</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-4" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Responsive JavaScript</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-5" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Responsive Tester</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-6" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">User Device Detection</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-7" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Internet Detection</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-8" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Webcam Detection</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-9" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Geolocation Detection</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-10" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Find Filter</p>
          </a>
        </li>

        <li class="menu__list__li">
          <a href="#section-11" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Digital Lottery</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-12" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Responsive Slider</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-13" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">ScollSpy</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-14" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Intelligent Video</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-15" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Section 15</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-16" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Section 16</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-17" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Section 17</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-18" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Section 18</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-19" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Section 19</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-20" class="menu__list__li__link" data-scroll-spy>
            <p class="menu__list__li__link__p">Section 20</p>
          </a>
        </li>


      </ul>
    </nav>

    <div class="not-internet"><h2 class="not-internet__title">Conexion perdida</h2></div>
    <div class="internet"><h2 class="internet__title">Conexion establecida</h2></div>

    <header class="header">
      <div class="header__head">
        <h1 class="header__head__title">Aprendiendo JavaScript</h1>
      </div>
    </header>

    <main class="content">
      <div class="content__main">
        <section class="content__main__section" data-scroll-spy id="section-1">
          <h2 class="content__main__section__title">Reloj Digital y Alarma Sonora</h2>

          <div class="content__main__section__time">
            <div class="content__main__section__time__clock">
              <h3 class="content__main__section__time__clock__hour clock-time">00</h3>
              <h3 class="content__main__section__time__title__separation">:</h3>
              <h3 class="content__main__section__time__clock__minute clock-time">00</h3>
              <h3 class="content__main__section__time__title__separation">:</h3>
              <h3 class="content__main__section__time__clock__second clock-time">00</h3>
            </div>
            
            <div class="content__main__section__time__control">
              <button class="content__main__section__time__control__btn btn-start-clock">Iniciar reloj</button>
              <button class="content__main__section__time__control__btn btn-stop-clock">Detener reloj</button>
              <button class="content__main__section__time__control__btn btn-start-alarm">Iniciar alarma</button>
              <button class="content__main__section__time__control__btn btn-stop-alarm">Detener alarma</button>
            </div>

          </div>

        </section>
        
        <section class="content__main__section" data-scroll-spy id="section-2">
          <h2 class="content__main__section__title">Atajos de Teclado</h2>

          <div class="content__main__section__stage">
            <div class="content__main__section__stage__ball"></div>
          </div>

        </section>

        <section class="content__main__section" data-scroll-spy id="section-3">
          <h2 class="content__main__section__title">Countdown</h2>

          <div class="content__main__section__countdown">
            <h3 class="content__main__section__countdown__time"></>
          </div>
        </section>

        <section class="content__main__section" data-scroll-spy id="section-4">
          <h2 class="content__main__section__title">Responsive JavaScript</h2>
          <div id="youtube"></div>
          <div id="gmaps"></div>
        </section>

        <section class="content__main__section" data-scroll-spy id="section-5">
          <h2 class="content__main__section__title">Responsive Tester</h2>

          <form class="content__main__section__form">
            <input type="text" class="content__main__section__form__input" name="website" placeholder="Website" />
            <input type="text" class="content__main__section__form__input" name="width" placeholder="Width" />
            <input type="text" class="content__main__section__form__input" name="height" placeholder="Height" />

            <div class="content__main__section__form__control">
              <button class="content__main__section__form__control__btn" id="cancel">CANCEL</button>
              <button class="content__main__section__form__control__btn" id="test">TEST</button>
            </div>
          </form>
        </section>

        <section class="content__main__section" data-scroll-spy id="section-6">
          <h2 class="content__main__section__title">User Device Detection<br>(User Agent)</h2>
          <div class="content__main__section__device-detection"></div>
        </section>

        <section class="content__main__section" data-scroll-spy id="section-7">
          <h2 class="content__main__section__title">Internet Detection</h2>
          
        </section>

        <section class="content__main__section" data-scroll-spy id="section-8">
          <h2 class="content__main__section__title">Webcam Detection</h2>

          <div class="content__main__section__media">
            <video class="content__main__section__media__video"></video>
            <canvas class="content__main__section__media__canvas"></canvas>
            <img src="" class="content__main__section__media__photo" alt="photo" />
          </div>
            <button class="content__main__section__photo-btn">TAKE PHOTO</button>

          
        </section>

        <section class="content__main__section" data-scroll-spy id="section-9">
          <h2 class="content__main__section__title">Geolocation Detection</h2>
          
          <div class="content__main__section__geolocation"></div>

        </section>

        <section class="content__main__section" data-scroll-spy id="section-10">
          <h2 class="content__main__section__title">Find Filter</h2>

          <div class="content__main__section__gallery">
            <input type="text" class="content__main__section__gallery__filter-input">
            <div class="content__main__section__gallery__content"></div>
          </div>
        </section>

        <section class="content__main__section" data-scroll-spy id="section-11">
          <h2 class="content__main__section__title">Digital Lottery</h2>
          <div class="content__main__section__lottery">
            <p class="content__main__section__lottery__raffles">
              <p class="content__main__section__lottery__raffles__item">JavaScript</p>
              <p class="content__main__section__lottery__raffles__item">Node js</p>
              <p class="content__main__section__lottery__raffles__item">React</p>
              <p class="content__main__section__lottery__raffles__item">Angular</p>
              <p class="content__main__section__lottery__raffles__item">Vue</p>
              <p class="content__main__section__lottery__raffles__item">HTML</p>
              <p class="content__main__section__lottery__raffles__item">CSS</p>
              <p class="content__main__section__lottery__raffles__item">PHP</p>
              <p class="content__main__section__lottery__raffles__item">MySQL</p>
              <p class="content__main__section__lottery__raffles__item">MongoDB</p>
              <p class="content__main__section__lottery__raffles__item">PostgreSQL</p>
              <p class="content__main__section__lottery__raffles__item">SQL</p>
              <p class="content__main__section__lottery__raffles__item">NoSQL</p>
              <p class="content__main__section__lottery__raffles__item">AWS</p>
              <p class="content__main__section__lottery__raffles__item">GCP</p>
              <p class="content__main__section__lottery__raffles__item">Azure</p>
              <p class="content__main__section__lottery__raffles__item">Terraform</p>
              <p class="content__main__section__lottery__raffles__item">Kubernetes</p>
              <p class="content__main__section__lottery__raffles__item">Docker</p>
              <p class="content__main__section__lottery__raffles__item">Git</p>
              <p class="content__main__section__lottery__raffles__item">Bitbucket</p>
              <p class="content__main__section__lottery__raffles__item">Github</p>
              <p class="content__main__section__lottery__raffles__item">VS Code</p>
              <p class="content__main__section__lottery__raffles__item">Visual Studio</p>
              <p class="content__main__section__lottery__raffles__item">Android</p>
              <p class="content__main__section__lottery__raffles__item">iOS</p>
              <p class="content__main__section__lottery__raffles__item">MacOS</p>
              <p class="content__main__section__lottery__raffles__item">Windows</p>
            </p>
            <button class="content__main__section__lottery__btn-raffle">SORTEAR</button>
          </div>
        </section>

        <section class="content__main__section" data-scroll-spy id="section-12">
          <h2 class="content__main__section__title">Responsive Slider</h2>

          <div class="content__main__section__slider">
            <button class="content__main__section__slider__btn slider-left-btn">
              <i class="ti ti-arrow-left"></i>
            </button>

            <div class="content__main__section__slider__container">
              <img src="https://blog.naturlider.com/wp-content/uploads/2020/03/AdobeStock_309195144-post-dia-mundial-naturaleza.jpeg" alt="" class="content__main__section__slider__container__img">

              <img src="https://assets.weforum.org/article/image/Gm4evGaazX8jYbg9YMPS4RlueMwo3oPAKuidqgBFrD4.jpeg" alt="" class="content__main__section__slider__container__img">

              <img src="https://www.blogdelfotografo.com/wp-content/uploads/2019/02/johannes-plenio-629984-unsplash.jpg" alt="" class="content__main__section__slider__container__img">
              
              <img src="https://images.freeimages.com/images/large-previews/653/sunset-in-forest-1247759.jpg" alt="" class="content__main__section__slider__container__img">
            </div>

            <button class="content__main__section__slider__btn slider-right-btn">
              <i class="ti ti-arrow-right"></i>
            </button>
          </div>

        </section>

        <section class="content__main__section" data-scroll-spy id="section-13">
          <h2 class="content__main__section__title">ScrollSpy</h2>
        </section>

        <section class="content__main__section" data-scroll-spy id="section-14">
          <h2 class="content__main__section__title">Intelligent Video</h2>
          
          <video src="../public/assets/video/aguas.mp4" class="content__main__section__video" width="640" height="360" controls muted loop data-smart-video>
          </video>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <video src="../public/assets/video/aguas.mp4" class="content__main__section__video" width="640" height="360" controls muted loop data-smart-video>
          </video>



        </section>

        <section class="content__main__section" data-scroll-spy id="section-15">
          <h2 class="content__main__section__title">Section 15</h2>
        </section>
        <section class="content__main__section" data-scroll-spy id="section-16">
          <h2 class="content__main__section__title">Section 16</h2>
        </section>
        <section class="content__main__section" data-scroll-spy id="section-17">
          <h2 class="content__main__section__title">Section 17</h2>
        </section>
        <section class="content__main__section" data-scroll-spy id="section-18">
          <h2 class="content__main__section__title">Section 18</h2>
        </section>
        <section class="content__main__section" data-scroll-spy id="section-19">
          <h2 class="content__main__section__title">Section 19</h2>
        </section>
        <section class="content__main__section" data-scroll-spy id="section-20">
          <h2 class="content__main__section__title">Section 20</h2>
        </section>

      </div>
    </main>

    <!-- <button class="menu-btn">
      <i class="ti ti-menu-2"></i>
    </button> -->

    <button class="menu-btn hamburger hamburger--vortex" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <button class="scroll-btn"><i class="ti ti-arrow-up"></i></button>

    <button class="theme-btn"><i class="ti ti-moon-filled"></i></button>

    <footer class="footer"></footer>

    <script src="view.mjs" type="module"></script>
  </body>
</html>
