<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
    />
    <link rel="stylesheet" href="scss/style.css" />
  </head>

  <body>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__list__li">
          <a href="#" class="nav__list__li__link">
            <p class="nav__list__li__link__p">link 1</p>
          </a>
        </li>
        <li class="nav__list__li">
          <a href="#" class="nav__list__li__link">
            <p class="nav__list__li__link__p">link 2</p>
          </a>
        </li>
        <li class="nav__list__li">
          <a href="#" class="nav__list__li__link">
            <p class="nav__list__li__link__p">link 3</p>
          </a>
        </li>
        <li class="nav__list__li">
          <a href="#" class="nav__list__li__link">
            <p class="nav__list__li__link__p">link 4</p>
          </a>
        </li>
        <li class="nav__list__li">
          <a href="#" class="nav__list__li__link">
            <p class="nav__list__li__link__p">link 5</p>
          </a>
        </li>
      </ul>
    </nav>


    <header class="header">
      <div class="header__head">
        <h1 class="header__head__title">Aprendiendo JavaScript</h1>
        <div class="header__head__menu">
          <!-- <button class="header__head__menu__btn">
            <i class="ti ti-menu-2"></i>
          </button> -->
        </div>
      </div>
    </header>

    

    <main class="content">
      <div class="content__main"></div>
    </main>

    <button class="menu-btn">
      <i class="ti ti-menu-2"></i>
    </button>

    <footer class="footer"></footer>

    <script src="view.mjs" type="module"></script>
  </body>
</html>
