<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Hamburger CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.css" integrity="sha512-W4KOSUNkQhX7JkalSiTkwAIoqsAvxDdgRc/WAa5U0R2TKTpHnNZuf9AiBk8InN4GCAMwer+O9fe4ThxIQFkOGQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
    />
    <link rel="stylesheet" href="scss/style.css" />
  </head>

  <body>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__list__li">
          <a href="#section-1" class="menu__list__li__link">
            <p class="menu__list__li__link__p">Reloj Digital y Alarma Sonora</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-2" class="menu__list__li__link">
            <p class="menu__list__li__link__p">Atajos de Teclado</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-3" class="menu__list__li__link">
            <p class="menu__list__li__link__p">Countdown</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-4" class="menu__list__li__link">
            <p class="menu__list__li__link__p">Responsive JavaScript</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-5" class="menu__list__li__link">
            <p class="menu__list__li__link__p">Responsive Tester</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-6" class="menu__list__li__link">
            <p class="menu__list__li__link__p">User Device Detection</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-7" class="menu__list__li__link">
            <p class="menu__list__li__link__p">Internet Detection</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-8" class="menu__list__li__link">
            <p class="menu__list__li__link__p">Section 8</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-9" class="menu__list__li__link">
            <p class="menu__list__li__link__p">Section 9</p>
          </a>
        </li>
        <li class="menu__list__li">
          <a href="#section-10" class="menu__list__li__link">
            <p class="menu__list__li__link__p">Section 10</p>
          </a>
        </li>git add 
      </ul>
    </nav>

    <div class="not-internet"><h2 class="not-internet__title">Conexion perdida</h2></div>
    <div class="internet"><h2 class="internet__title">Conexion establecida</h2></div>

    <header class="header">
      <div class="header__head">
        <h1 class="header__head__title">Aprendiendo JavaScript</h1>
      </div>
    </header>

    

    <main class="content">
      <div class="content__main">
        <section class="content__main__section" id="section-1">
          <h2 class="content__main__section__title">Reloj Digital y Alarma Sonora</h2>

          <div class="content__main__section__time">
            <div class="content__main__section__time__clock">
              <h3 class="content__main__section__time__clock__hour clock-time">00</h3>
              <h3 class="content__main__section__time__title__separation">:</h3>
              <h3 class="content__main__section__time__clock__minute clock-time">00</h3>
              <h3 class="content__main__section__time__title__separation">:</h3>
              <h3 class="content__main__section__time__clock__second clock-time">00</h3>
            </div>
            
            <div class="content__main__section__time__control">
              <button class="content__main__section__time__control__btn btn-start-clock">Iniciar reloj</button>
              <button class="content__main__section__time__control__btn btn-stop-clock">Detener reloj</button>
              <button class="content__main__section__time__control__btn btn-start-alarm">Iniciar alarma</button>
              <button class="content__main__section__time__control__btn btn-stop-alarm">Detener alarma</button>
            </div>

          </div>

        </section>
        
        <section class="content__main__section" id="section-2">
          <h2 class="content__main__section__title">Atajos de Teclado</h2>

          <div class="content__main__section__stage">
            <div class="content__main__section__stage__ball"></div>
          </div>

        </section>

        <section class="content__main__section" id="section-3">
          <h2 class="content__main__section__title">Countdown</h2>

          <div class="content__main__section__countdown">
            <h3 class="content__main__section__countdown__time"></>
          </div>
        </section>

        <section class="content__main__section" id="section-4">
          <h2 class="content__main__section__title">Responsive JavaScript</h2>
          <div id="youtube"></div>
          <div id="gmaps"></div>
        </section>

        <section class="content__main__section" id="section-5">
          <h2 class="content__main__section__title">Responsive Tester</h2>

          <form class="content__main__section__form">
            <input type="text" class="content__main__section__form__input" name="website" placeholder="Website" />
            <input type="text" class="content__main__section__form__input" name="width" placeholder="Width" />
            <input type="text" class="content__main__section__form__input" name="height" placeholder="Height" />

            <div class="content__main__section__form__control">
              <button class="content__main__section__form__control__btn" id="cancel">CANCEL</button>
              <button class="content__main__section__form__control__btn" id="test">TEST</button>
            </div>
          </form>
        </section>

        <section class="content__main__section" id="section-6">
          <h2 class="content__main__section__title">User Device Detection<br>(User Agent)</h2>
          <div class="content__main__section__device-detection"></div>
        </section>

        <section class="content__main__section" id="section-7">
          <h2 class="content__main__section__title">Internet Detection</h2>
          
        </section>

        <section class="content__main__section" id="section-8">
          <h2 class="content__main__section__title">Section 8</h2>
        </section>

        <section class="content__main__section" id="section-9">
          <h2 class="content__main__section__title">Section 9</h2>
        </section>

        <section class="content__main__section" id="section-10">
          <h2 class="content__main__section__title">Section 10</h2>
        </section>
      </div>
    </main>

    <!-- <button class="menu-btn">
      <i class="ti ti-menu-2"></i>
    </button> -->

    <button class="menu-btn hamburger hamburger--vortex" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <button class="scroll-btn"><i class="ti ti-arrow-up"></i></button>

    <button class="theme-btn"><i class="ti ti-moon-filled"></i></button>

    <footer class="footer"></footer>

    <script src="view.mjs" type="module"></script>
  </body>
</html>
